.center-box {
    display: flex;
    justify-content: center;
}

.center-box2 {
    display: flex;
    justify-content: center;
    margin-top: -200px;
}

div.fading {
    display: flex;
    justify-content: center;
    animation: FadeInOut 4s infinite alternate-reverse
}

@keyframes FadeInOut {
    0% {opacity:1;}
    5% {opacity:.95;}
    10% {opacity: 0.9;}
    15% {opacity: 0.85;}
    20% {opacity: 0.8;}
    25% {opacity:.75;}
    30% {opacity: 0.7;}
    35% {opacity: 0.65;}
    40% {opacity:.6;}
    45% {opacity: 0.55;}
    50% {opacity:.5;}
    55% {opacity: 0.45;}
    60% {opacity: 0.4;}
    65% {opacity: 0.35;}
    70% {opacity: 0.3;}
    75% {opacity:.25;}
    80% {opacity: 0.2;}
    85% {opacity: 0.15;}
    90% {opacity:.1;}
    95% {opacity: 0.15;}
    95% {opacity: 0.15;}
    95% {opacity: 0.15;}
    100% {opacity: 0;}
}

.top {
    margin-top: -50px;
}

body {
    background-color:black;
}

.carname {
    color: red;
    text-align: center;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color:darkred;
    font-size: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: whitesmoke
}

.s {
    display: flex;
    justify-content: space-evenly
}

.link{
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: color-change 5s linear 2s infinite alternate;
}
  
@keyframes color-change {
    0%   {color:rgb(55, 0, 255);}
    25%  {color:rgb(255, 0, 0);}
    50%  {color:rgb(55, 0, 255)}
    75%  {color:rgb(255, 0, 0)}
    100% {color:rgb(55, 0, 255)}
}

div.quadrato {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: red;
    position: relative;
    animation: myfirst 5s linear 2s infinite alternate;
}
  
@keyframes myfirst {
    0%   {background-color:rgb(55, 0, 255); left:0px; top:0px;}
    25%  {background-color:rgb(255, 0, 0); left: 268.75px; top:20px;}
    50%  {background-color:rgb(55, 0, 255); left:537.5px; top:-25px;}
    75%  {background-color:rgb(255, 0, 0); left:806.25px; top:20px;}
    100% {background-color:rgb(55, 0, 255); left:1075px; top:-25px;}
}

hr {
    color: blue;
}

.css-waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; 
    min-height: 100px;
    max-height: 150px;
}
  
.animated-waves > use {
    animation: infinite-waves 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.animated-waves > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.animated-waves > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.animated-waves > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.animated-waves > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes infinite-waves {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .css-waves {
      height: 40px;
      min-height: 40px;
    }
}